# Ignore vscode folder 
.vscode/

# Ignore env 
env/
**/.env
*/.env

# Ignore pycache 
__pycache__/
__pycache__/**
**.pyc

# Ignore all possible node_modules
*/node_modules/

# Ignore data folder in backend
backend/data

# Ignore testing artifacts
backend/evaluate.py 
backend/generate_pairs.py
backend/instructions.txt
backend/results.json
backend/prompt_pairs.jsonl
backend/uploads

# Ignore main.py used for backend testing
backend/main.py