# Ignore vscode folder 
.vscode/

# Ignore env 
env/
**/.env

# Ignore pycache 
__pycache__/
__pycache__/**
**.pyc

# Ignore all possible node_modules
*/node_modules/

# Ignore MySQL and Redis Data
mysql-data/
redis-data/

# Ignore data folder in backend
backend/data

# Ignore testing
backend/dataset.py
backend/evaluate.py
backend/results.json
backend/generate_pairs.py
backend/prompt_pairs.jsonl