# Ignore vscode folder 
.vscode/

# Ignore env 
env/
**/.env

# Ignore pycache 
__pycache__/
__pycache__/**
**.pyc

# Ignore all possible node_modules
*/node_modules/

# Ignore MySQL and Redis Data
mysql-data/
redis-data/